:root {
    --vp-layout-max-width: 1660px;
}

.content-container {
  margin: 0 !important;
}

.vp-doc-container.has-aside .content-container {
  max-width: 1000px !important;
}

/* 隐藏滚动条但保持滚动功能 */
::-webkit-scrollbar {
  display: none;
}

/* 对于 Firefox */
html {
  scrollbar-width: none;
}